@charset "utf-8";

/************* Reset CSS *************/
/* 清除内外边距 */
html, body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset,iframe, lengend, label, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}
i{font-style:normal}
/*移动端必须加，下*/
*,
::before,
::after{
    /*reset css  重制 css*/
    /*选择所有标签*/
    margin:0;
    padding:0;

    /*清楚移动端默认的，点击高亮效果*/
    -webkit-tap-highlight-color: transparent;

    /*都是以边框开始计算大小,因为是百分比布局，防止溢出*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*移动端必须加，上*/

input{
    /*去除input的默认样式*/
    border:none;
    /*去除高亮*/
    outline:none;
    /*去除默认的表单样式，的内阴影效果*/
    -webkit-appearance: none;
    appearance: none;
}


h1 ,h2 ,h3 ,h4, h5, h6 { font-size: 100%; }

address, cite, dfn, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; color:#333;}
a:hover { text-decoration: none; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img, button{ border: none;}
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

img, iframe, table, form{ vertical-align: top;}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
/************* Reset CSS *************/
.clearfix {zoom: 1; }
.clearfix:after, .clearfix:before {content: "\200B"; display: block; height: 0; visibility: hidden; }
.clearfix:after {clear: both; }
/* Global:常用样式 */
.fl{ float:left;}
.fr{ float:right;}
/*.clearfix{display: block; display: table; *display: inline-block; _height: 1%;}/!*清浮动*!/*/
/*.clearfix:after {content:'\20'; display:block; clear:both;}/!*清浮动*!/*/
.clearself{ overflow:hidden; _overflow:visible; _height:1%;}
.inline-block{display:inline-block;*zoom: 1;*display: inline;vertical-align:middle;overflow:hidden;}
.justify{ text-align: justify; text-justify: inter-ideograph;}
.clear { font-size: 0px; height: 0px; line-height: 0px; overflow: hidden; clear: both;}




.display-flex{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}
.flex-1{
	-webkit-box-flex:1;
			-ms-flex:1;
				flex:1;
}
.flex-2{
	-webkit-box-flex:2;
	-ms-flex:2;
	flex:2;
}
.flex-3{
	-webkit-box-flex:3;
	-ms-flex:3;
	flex:3;
}
.flex-row-r{
	-webkit-flex-direction:row-reverse;
	-ms-flex-direction:row-reverse;
}
.flex-column{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-wrap-n{
	-webkit-flex-wrap:nowrap;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
}
.flex-wrap{
	-webkit-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
}
.justify-content-end{
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:flex-end;
}
.justify-content-center{
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
}
.justify-content-space-between{
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
}
.justify-content-space-around{
	-webkit-flex-pack:distribute;
	justify-content:space-around;
}
.align-self-start{
	-ms-flex-item-align:start;
	align-self:flex-start;
}
.align-self-flex-end{
	-ms-flex-item-align:end;
	align-self:flex-end;
}
.align-self-center{
	-ms-flex-item-align:center;
	align-self:center;
}
.align-self-auto{
	-ms-flex-item-align:auto;
	align-self:auto;
}
.align-self-baseline{
	-ms-flex-item-align:baseline;
	align-self:baseline;
}

.align-items-flex-start{
	align-items:flex-start;
}
.align-items-flex-end{
	-webkit-box-align: end;
	-ms-flex-align: end;
	-ms-grid-row-align: flex-end;
	align-items: flex-end;
}

.align-items-center{
	-webkit-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}

/**/
/*body{font-size: 20px;}
.Header-box{height:60px;width:100%;font-size:.8em;}*/

body{background: #F1ECEC}
.Header-box {position:fixed;bottom:0;float:left;width:100%;}
.Header-box li{height:60px;line-height: 60px;text-align: center;color:#fff;background:#E4DEDE;}
.Header-box li a{   
	margin: 5px 10px;
    padding: 12px 10px;
    border-radius: 5px;
    display: block;
    line-height: 14px;
    font-size: .7em;}
.Header-box li a.active{background:#D6D1D1;color:#1AA50F;}

.Footer-content{position:fixed;top:0;width:100%;height:40px;}
.Footer-content li{text-align: center;line-height: 40px;background: #4DC191;color:#fff;font-size:.7em;}
.Footer-content li.flex-1.active{background: #45D839;}

.se_w_01{width:8em;}
.f_cor_LuSe{color:#4dc191;}

.fn_we_normal{font-weight: normal;}
.Footer-content .se_bj_c_01{}
.Footer-content .se_fn_c{color:#4A4141;}
.f_s_10{font-size:10px;}
.padd_TRBL_10{padding:10px;}
.pa_L_5px{padding:0 0 0 5px;}
.ma_T_5px{margin:5px 0 0 0;}
.ma_T_10px{margin:10px 0 0 0;}
.ma_L_5px{margin:0 0 0 5px;}
.ma_L_10px{margin:0 0 0 10px;}
.tex_ind_1em{text-indent:1em;}
.pa_top_10px{margin:10px 0 0 0;}
.bj_fff{background:#fff;}
.bor_R_bor_c{border-right:1px solid #E0DCDC;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.bor_T_bor_c{border-top:1px solid #E0DCDC;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

.H-80{height:80px;}
.H-60{height:60px;}
.H-50{height:50px;}
.H-40{height:40px;}
.W-60{width:60px;background: red}

.content_mar_T_40{margin:40px 0 60px 0;}


.bag_box{position: relative;height:30px;margin:5px 4px;font-size:.5em;}
.bag_box > div{
    z-index: 10;
    width: 1em;
    height: 1.4em;
    position: absolute;
    top: calc(0% - 0.3em);
    left: .5em;
}
.bag_box > div > i{font-size:10px;}
.bag_box > input{
	background-color: #fff;
	position: absolute;
	top:0;left:0;width:100%;
	height:30px;
	line-height:30px;
	border-radius:20px;
	font-size:10px;
	padding:0 5px 0 20px;
	font-weight: normal;
	white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;
}
.home_content{
	height:100px;
	width:100%;
	text-align: center;
	line-height: 100px;
	background: #f90;
}
.ser_mar_self{
	margin:10px 0 0 10px;
}



.Image {
  position: absolute;
  height: 400px;
  width: 400px;
}
/*进入的时候*/
.swap-enter {
  opacity: 0.01;
  transition: all .5s ease-in;
  transform: translateX(30em);
}
/*进入到了*/
.swap-enter.example-enter-active {
  opacity: 1;
  transform: translateX(0);
}
/*离开的时候*/
.swap-leave {
  opacity: 1;
  transition: all .5s ease-in;
  transform: translateX(0);
}
/*离开结束*/
.swap-leave.swap-leave-active {
  opacity: 0;
  transform: translateX(-30em);
}

.link-active {
  color: #bbbbbb;
  text-decoration: none;
}




.Image {
  position: absolute;
  height: 400px;
  width: 400px;
}

.swap-enter {
  opacity: 0.01;
  transform: translateX(5em);
  transition: all .5s ease-in;
}

.swap-enter.swap-enter-active {
  opacity: 1;
  transform: translateX(0);
}

.swap-leave {
  opacity: 1;
  transform: translateX(0);
  transition: all .5s ease-in;
}

.swap-leave.swap-leave-active {
  opacity: 0;
  transform: translateX(-5em);
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

